<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <title>Project Detail</title>
<base th:href="@{/}" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/theme.css">
<style>
#footer {
	padding: 15px 0;
	background: #fff;
	border-top: 1px solid #ddd;
	text-align: center;
}

#topcontrol {
	color: #fff;
	z-index: 99;
	width: 30px;
	height: 30px;
	font-size: 20px;
	background: #222;
	position: relative;
	right: 14px !important;
	bottom: 11px !important;
	border-radius: 3px !important;
}

#topcontrol:after {
	/*top: -2px;*/
	left: 8.5px;
	content: "\f106";
	position: absolute;
	text-align: center;
	font-family: FontAwesome;
}

#topcontrol:hover {
	color: #fff;
	background: #18ba9b;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	border-bottom-color: #ddd;
}

.nav-tabs>li>a {
	border-radius: 0;
}
</style>
</head>
<body>
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/" style="font-size: 32px;">MyFunding</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse"
						style="float: right;">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>
									[[${session.loginMember.username}]]<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
<!--									<li><a href="member.html"><i-->
<!--											class="glyphicon glyphicon-scale"></i> Memebr center</a></li>-->
<!--									<li><a href="#"><i class="glyphicon glyphicon-comment"></i>-->
<!--											Message</a></li>-->
									<li><a th:href="@{/auth/member/to/center/page}">Member center</a></li>
									<li><a th:href="@{/auth/member/to/center/page}">Message <span class="badge badge-success">42</span></a></li>
									<li class="divider"></li>
									<li><a th:href="@{/auth/member/logout}"><i
											class="glyphicon glyphicon-off"></i> Log out</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="container theme-showcase" role="main">

		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<nav class="navbar navbar-default" role="navigation">
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a rel="nofollow" href="index.html"><i
										class="glyphicon glyphicon-home"></i> Main</a></li>
								<li><a rel="nofollow" href="projects.html"><i
										class="glyphicon glyphicon-th-large"></i> Overview</a></li>
								<li><a rel="nofollow" href="start.html"><i
										class="glyphicon glyphicon-edit"></i> Raise funds</a></li>
								<li><a rel="nofollow" href="minecrowdfunding.html"><i
										class="glyphicon glyphicon-user"></i> My projects</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div th:if="${#strings.isEmpty(detailProjectVO)}">Failed to check project details information!</div>
		<div th:if="${not #strings.isEmpty(detailProjectVO)}">
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="jumbotron nofollow" style="padding-top: 10px;">
							<h3 th:text="${detailProjectVO.projectName}">Project name</h3>
							<div style="float: left; width: 70%;" th:text="${detailProjectVO.projectDesc}">Description</div>
							<div style="float: right;">
								<button type="button" class="btn btn-default">
									<i style="color: #f60" class="glyphicon glyphicon-heart"></i>
									Likes[[${detailProjectVO.followerCount}]]
									Likes[[${detailProjectVO.followerCount}]]
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<div class="row clearfix">
							<div class="col-md-8 column" th:if="${#strings.isEmpty(detailProjectVO.detailPicturePathList)}">Failed to load detail information</div>
							<div class="col-md-8 column" th:if="${not #strings.isEmpty(detailProjectVO.detailPicturePathList)}">
								<img alt="140x140" width="740" th:src="${detailProjectVO.headerPicturePath}" />
								<img alt="140x140" width="740" th:each="detailPicturePath : ${detailProjectVO.detailPicturePathList}" th:src="${detailPicturePath}" />
							</div>
							<div class="col-md-4 column">
								<div class="panel panel-default" style="border-radius: 0px;">
									<div class="panel-heading"
										style="background-color: #fff; border-color: #fff;">
										<span class="label label-success"><i
											class="glyphicon glyphicon-tag"></i> [[${detailProjectVO.statusText}]]</span>
									</div>
									<div class="panel-body">
										<h3>Funds Raised:$[[${detailProjectVO.supportMoney}]]</h3>
										<p>
											<span>Target: [[${detailProjectVO.money}]]</span><span style="float: right;">Raised
												： [[${detailProjectVO.percentage}]]%</span>
										</p>
										<div class="progress"
											style="height: 10px; margin-bottom: 5px;">
											<div class="progress-bar progress-bar-success"
												role="progressbar" aria-valuenow="[[${detailProjectVO.percentage}]]" aria-valuemin="0"
												aria-valuemax="100" style="width: 60%;" th:style="'width: ' + ${detailProjectVO.percentage} + '%;'"></div>
										</div>
										<p> [[${detailProjectVO.lastDay}]] days left</p>
										<div>
											<p>
                        <span>You have[[${detailProjectVO.supporterCount}]]supports</span>
											</p>
											<button type="button"
												class="btn  btn-warning btn-lg btn-block"
												data-toggle="modal" data-target="#myModal">support this project</button>
										</div>
									</div>
									<div class="panel-footer"
										style="background-color: #fff; border-top: 1px solid #ddd; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
										<div class="container-fluid">
											<div class="row clearfix">
												<div class="col-md-3 column" style="padding: 0;">
													<img alt="140x140" src="img/services-box2.jpg"
														data-holder-rendered="true"
														style="width: 80px; height: 80px;">
												</div>
												<div class="col-md-9 column">
													<div class="">
														<h4>
															<b>Kitchen room-AI</b> <span
																style="float: right; font-size: 12px;"
																class="label label-success">Certified</span>
														</h4>
														<p style="font-size: 12px">
															Make your next meal with AI</p>
														<p style="font-size: 12px">Phone:3343322058</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div th:if="${#strings.isEmpty(detailProjectVO.detailReturnVOList)}">No return setting info</div>
								<div th:if="${not #strings.isEmpty(detailProjectVO.detailReturnVOList)}">
									<div th:each="return : ${detailProjectVO.detailReturnVOList}" class="panel panel-default" style="border-radius: 0px;">
										<div class="panel-heading">
											<h3>
												￥[[${return.supportMoney}]]
												<span th:if="${return.signalPurchase == 0}" style="float: right; font-size: 12px;">No limits,[[${return.supproterCount}]] Supporters</span>
												<span th:if="${return.signalPurchase == 1}" style="float: right; font-size: 12px;">limit[[${return.purchase}]] people，Remaining[[${return.purchase - return.supproterCount}]] people</span>
											</h3>
										</div>
										<div class="panel-body">
											<p th:if="${return.freight==0}">Free Shipping</p>
											<p th:if="${return.freight>0}">Shipping:[[${return.freight}]]</p>
											<p>You will receive this project within [[${return.returnDate}]] days</p>
                      <a th:href="'http://www.myfunding.com/order/confirm/return/info/' + ${detailProjectVO.projectId} + '/' + ${return.returnId}" class="btn btn-warning btn-lg">Support</a>
                      <br>
											<br>
											<p th:text="${return.content}">Thanks for your supports</p>
										</div>
									</div>
								</div>
								<div class=" panel panel-default" style="border-radius: 0px;">
									<div class="panel-heading">
										<h3>Risky Warning</h3>
									</div>
									<div class="panel-body">
										<p>
											If you do not agree with the above risk warning, you have the right to choose not to support it; once you choose to support it, you are deemed to have confirmed and agreed to the above warning.
										</p>
									</div>
								</div>
								<div>
									<h2>Support for you</h2>
									<hr>
								</div>
								<div class="prjtip panel panel-default"
									style="border-radius: 0px;">
									<div class="panel-body">
										<img src="img/product-3.png" width="100%" height="100%">
									</div>
								</div>

								<div class="prjtip panel panel-default"
									style="border-radius: 0px;">
									<div class="panel-body">
										<img src="img/product-4.jpg" width="100%" height="100%">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" style="margin-top: 20px;">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div id="footer">
						<div class="footerNav">
							<a rel="nofollow" href="http://www.myFunding.com">About us</a> | <a
								rel="nofollow" href="http://www.myFunding.com">Service</a> | <a
								rel="nofollow" href="http://www.myFunding.com">Statement</a> | <a
								rel="nofollow" href="http://www.myFunding.com">Map</a> | <a
								rel="nofollow" href="http://www.myFunding.com">Contact us</a>
						</div>
						<div class="copyRight">Copyright@2020-2020myfunding.com
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- /container -->


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog " style="width: 960px; height: 400px;"
			role="document">
			<div class="modal-content" data-spy="scroll"
				data-target="#myScrollspy">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Support this</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row clearfix">
							<div class="col-sm-3 col-md-3 column" id="myScrollspy">
								<ul class="nav nav-tabs nav-stacked">
									<li class="active"><a href="#section-1">$1.00</a></li>
									<li class="active"><a href="#section-2">$149.00</a></li>
									<li class="active"><a href="#section-3">$249.00</a></li>
									<li class="active"><a href="#section-4">$549.00</a></li>
									<li class="active"><a href="#section-5">$1999.00</a></li>
								</ul>
							</div>
							<div id="navList" class="col-sm-9 col-md-9 column"
								 style="height: 400px; overflow-y: auto;">
								<h2 id="section-1" style="border-bottom: 1px dashed #ddd;">
									<span style="font-size: 20px; font-weight: bold;">$1.00</span><span
										style="font-size: 12px; margin-left: 60px;">No limit, 223 supporters</span>
								</h2>
								<p>Free Shipping</p>
								<p>You will receive this after finishing funds 1 week</p>
								<button type="button" class="btn  btn-warning btn-lg "
										onclick="window.location.href='pay-step-1.html'">Support</button>
								<br>
								<br>
								<p>You have one chance to get this project for free after spending $2000</p>
								<hr>
								<h2 id="section-2" style="border-bottom: 1px dashed #ddd;">
									<span style="font-size: 20px; font-weight: bold;">$149.00</span><span
										style="font-size: 12px; margin-left: 60px;">No limit, 223 supporters</span>
								</h2>
								<p>Free shipping</p>
								<p>You will receive this after finishing funds 1 week</p>
								<button type="button" class="btn  btn-warning btn-lg "
										onclick="window.location.href='pay-step-1.html'">支持</button>
								<br>
								<br>
								<p>You have one chance to get this project for free after spending $2000</p>
								<hr>
								<h2 id="section-3" style="border-bottom: 1px dashed #ddd;">
									<span style="font-size: 20px; font-weight: bold;">$249.00</span><span
										style="font-size: 12px; margin-left: 60px;">No limit, 223 supporters</span>
								</h2>
								<p>Free Shipping</p>
								<p>You will receive this after finishing funds 2 weeks</p>
								<button type="button" class="btn  btn-warning btn-lg "
										onclick="window.location.href='pay-step-1.html'">Supports</button>
								<br>
								<br>
								<p>You have one chance to get this project for free after spending $2000</p>
								<hr>
								<h2 id="section-4" style="border-bottom: 1px dashed #ddd;">
									<span style="font-size: 20px; font-weight: bold;">$549.00</span><span
										style="font-size: 12px; margin-left: 60px;">No limit, 223 supporters</span>
								</h2>
								<p>Free Shipping</p>
								<p>You will receive this after finishing funds 2 weeks</p>
								<button type="button" class="btn  btn-warning btn-lg "
										onclick="window.location.href='pay-step-1.html'">Support</button>
								<br>
								<br>
								<p>You have one chance to get this project for free after spending $2000</p>
								<hr>
								<h2 id="section-5" style="border-bottom: 1px dashed #ddd;">
									<span style="font-size: 20px; font-weight: bold;">$1999.00</span><span
										style="font-size: 12px; margin-left: 60px;">No limit, 223 supporters</span>
								</h2>
								<p>Free Shipping</p>
								<p>You will receive this after finishing funds 2 weeks</p>
								<button type="button" class="btn  btn-warning btn-lg "
										onclick="window.location.href='pay-step-1.html'">Support</button>
								<br>
								<br>
								<p>You have one chance to get this project for free after spending $2000</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<script src="jquery/jquery-2.1.1.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="script/docs.min.js"></script>
	<script src="script/back-to-top.js"></script>
	<script>
		$(".prjtip img").css("cursor", "pointer");
		$(".prjtip img").click(function() {
			window.location.href = 'project.html';
		});
	</script>
</body>
</html>